<!DOCTYPE html>


body{
    background-color: gainsboro;   
    color: orange;
}

h1{
    color: teal;
}

h2{
    color: pink;  
}


.top_bar{
    padding-left: 30px;
    padding-right: 15px;
    display: inline;
    color: lightblue;
    background-color: black;
}

.panel_1{
    padding-left: 50px;
    padding-right: 50px;
    color: blue;
}


