<!DOCTYPE html>
<html>

body{
    background-color: black;   
    color: orange;
}

h1{
    color: pink;
}

h2{
    color: brown;  
}


.top_bar{
    padding-left: 30px;
    padding-right: 15px;
    display: inline;
    color: lightblue;
    background-color: black;
}

.panel_1{
    padding-left: 50px;
    padding-right: 50px;
    color: blue;
}


</html>