.body{
    background-color: lightgray;   
}

.h1{
    background-color: pink;
}



.top_bar{
    padding-left: 30px;
    padding-right: 15px;
    display: inline;
    color: lightblue;
    background-color: black;
}

