.body{
    background-color: lightgray;   
    color: orange;
}

.h1{
    color: pink;
}

.h2{
    color: brown;  
}


.top_bar{
    padding-left: 30px;
    padding-right: 15px;
    display: inline;
    color: lightblue;
    background-color: black;
}

