body{
    background-color: lightgray;   
}



#top_bar{
    display: inline;
    border-style: solid;
    background: lightblue;
}



#top_bar_items li{
    display: inline;
    border-style: solid;
    background-color: lightgreen;
}