
body{
    background-color: gainsboro;   
    
}

h1{
    color: teal;
}

h2{
    color: teal;  
}


.top_bar{
    padding-left: 30px;
    padding-right: 15px;
    display: inline;
    color: lightblue;
}

.panel_1{
    padding-left: 50px;
    padding-right: 50px;
    color: blue;
}


