
body{
    background-color: #B2E0E0;   
    padding-left: 50px;
    padding-right: 50px;
    
}

h1{
    color: #4C331A;
    font-family: "Palatino Linotype";
}

h2{
    color: #4C331A;  
    font-family: "Palatino Linotype";
}

h4{
    color: #4C331A;  
    font-family: "Palatino Linotype";
}

footer {
    height: 50px; 
	background: blue;
	position: absolute; //tells the browser to position #footer relative to #wrapper
	bottom: 3; #sticks the footer 3px above the bottom edges of the #wrapper div
	width: inherit;
	text-align: center;
}

.top_bar{
    padding-left: 30px;
    padding-right: 15px;
    display: inline;
    color: lightblue;
}

.thing{
    color: #4C331A;
    background-color: #66C2C2; 
    border-style: inset;
    border-width: thin;
    border-color: #4C331A;
    border-radius: 5px;
    font-size: large;
    font-family: "Palatino Linotype";
}

.text{
    font-size: medium;
    font-family: "Palatino Linotype";
}

.panel-heading{
    font-size: large;
    font-family: "Palatino Linotype";
}
