
body{
    background-color: #B2E0E0;   
    padding-left: 50px;
    padding-right: 50px;
    
}

h1{
    color: #4C331A;
    font-family: "Palatino Linotype";
}

h2{
    color: #4C331A;  
    font-family: "Palatino Linotype";
}


.top_bar{
    padding-left: 30px;
    padding-right: 15px;
    display: inline;
    color: lightblue;
}

.thing{
    color: #4C331A;
    background-color: #66C2C2; 
    border-style: inset;
    border-width: thin;
    border-color: #4C331A;
    font-size: large;
    font-family: "Palatino Linotype";
}

.text{
    background-color: #EBE0D6; 
    font-size: small;
    font-family: "Palatino Linotype";
}

.panel-heading{
    background-color: #EBE0D6; 
    font-size: large;
    font-family: "Palatino Linotype";
}
