<div class="container-fluid">
        <h1>Learning Sprite Kit</h1>
        <h2> With XCode 6</h2>
        
        <br>
        <br>
        
        <div id="top_bar" class="row">
            <div class="col-xs-3" align="center" style="background-color:gainsboro !important;">
                <a href="#/home">
                    <div class="thing">
                        Home
                    </div>
                </a>
            </div>
            <div class="col-xs-3" align="center">
                <a href="#/home/whySK">
                    <div class="thing">
                        Why Sprite Kit?
                    </div>
                </a>
            </div>  
            <div class="col-xs-3" align="center">
                <a href="#/home/example">
                    <div class="thing">
                        Sprite Kit Example
                    </div>
                </a>
            </div>
            <div class="col-xs-3" align="center">
                <a href="#/home/more">
                    <div class="thing">
                        More...
                    </div>
                </a>
            </div>        
        </div>
    
        <br>
        <br>

        <div id="panel_1">
            <div class="panel panel-default" "col-md-5" style="text-align:center;">
                <div class="panel-heading" style="text-align:center;"> 
                <h4>What's this about?</h4> 
                </div>
                <div class="text">
                    <br>
                    This website covers the basics of Apple's Sprite Kit with XCode 6.
                    <br>
                    <br>
                </div>                 
            </div>
        </div>

        
    </body>


    <footer>
        <p> ©Brenna Huser</p>
    </footer>


</div>