<!DOCTYPE html> 

<body >
        <h1>Learning Sprite Kit</h1>
        <h2> With XCode 6</h2>
        
        <br>
        <br>
        
        <div id="top_bar" class="row">
            <div class="col-xs-3">
                <a href="#/partials/home">
                    <div class="thing">
                        Home
                    </div>
                </a>
            </div>
            <div class="col-xs-3">
                <a href="#/partials/whySK">
                    <div class="thing">
                        Why Sprite Kit?
                    </div>
                </a>
            </div>  
            <div class="col-xs-3">
                <a href="#/partials/example">
                    <div class="thing">
                        Sprite Kit Example
                    </div>
                </a>
            </div>
            <div class="col-xs-3">
                <a href="#/partials/more">
                    <div class="thing">
                        More...
                    </div>
                </a>
            </div>        
        </div>
    
    </body>
