<div class="container-fluid">

<body >
        <h1>Learning Sprite Kit</h1>
        <h2> With XCode 6</h2>
        
        <br>
        <br>
        
        <div id="top_bar" class="row" >
            <div class="col-xs-3" align="center">
                <a href="#/home">
                    <div class="thing">
                        Home
                    </div>
                </a>
            </div>
            <div class="col-xs-3" align="center" >
                <a href="#/home/whySK">
                    <div class="thing">
                        Why Sprite Kit?
                    </div>
                </a>
            </div>  
            <div class="col-xs-3" align="center">
                <a href="#/home/example">
                    <div class="thing">
                        Sprite Kit Example
                    </div>
                </a>
            </div>
            <div class="col-xs-3" align="center">
                <a href="#/home/more">
                    <div class="thing">
                        More...
                    </div>
                </a>
            </div>        
        </div>
    
    <br>
    <br> 
    
    <div class="row"> 
       
        <div id="panel_1" class="col-md-6">
                <div class="panel panel-default" style="text-align:center;">
                    <div class="panel-heading" style="text-align:center;"> 
                    <h4>About Apple's Sprite Kit</h4> 
                    </div>
                    <div class="text">
                        <br>
                        <p>Sprite Kit provides a graphics rendering and animation infrastructure that you can use to animate arbitrary textured images, or sprites. Sprite Kit uses a traditional rendering loop where the contents of each frame are processed before the frame is rendered. Your game determines the contents of the scene and how those contents change in each frame. Sprite Kit does the work to render frames of animation efficiently using the graphics hardware. Sprite Kit is optimized so that the positions of sprites can be changed arbitrarily in each frame of animation.</p>
                        <br>
                        <p>Sprite Kit also provides other functionality that is useful for games, including basic sound playback support and physics simulation. In addition, Xcode provides built-in support for Sprite Kit so that you can create complex special effects and texture atlases directly in Xcode. This combination of framework and tools makes Sprite Kit a good choice for games and other apps that require similar kinds of animation. For other kinds of user-interface animation, use Core Animation instead.</p>
                        <a href="https://developer.apple.com/library/ios/documentation/GraphicsAnimation/Conceptual/SpriteKit_PG/Introduction/Introduction.html">More</a>
                        
                        <br>
                    </div>                 
                </div>
            </div>

        <div id="panel_2" class="col-md-6">
                <div class="panel panel-default" style="text-align:center;">
                    <div class="panel-heading" style="text-align:center;"> 
                    <h4>When to use Sprite Kit</h4> 
                    </div>
                    <div class="text">
                        <br>
                        <p>Information will go here!</p>
                        
                        <br>
                    </div>                 
                </div>
        </div>
    </div>
    </body>
    <footer>
        <p> ©Brenna Huser</p>
    </footer>
    </div>